/*Schrijf hier jouw CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: indianred solid 2px;
    display: flex;
    flex-direction: row;
    flex: 1 1 100vh;
}

.col-1 {
    display: flex;
    flex-direction: column;
    flex: 2 1 20vh;
    order: 1;

}
.col-2 {
    display: flex;
    flex-direction: column;
    flex: 8 1 80vh;
    order: 2;
}
header {
    display: flex;
    flex: 2 1 20vh;
}

main {
    display: flex;
    justify-content: space-between;
    flex: 6 1 60vh;

    .article-stretch {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        /*align-self: stretch;*/
        flex: 1 1 60vw;
    }
}

footer {
    display: flex;
    flex: 2 1 20vh;
}